/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*
adding All MY Section Tag Padding
*/
section {
  padding: 80px;
}

/*Creating Banner Area in CSS*/
.banner {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0);
  
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgb(0, 0, 0);

  backface-visibility: hidden;
  
}

.banner h2 {
  font-size: 2.5 em;
  color: cornsilk;
  font-weight: 300;
  line-height: 2em;
}

.banner h2 span {
  font-size: 2.5em;
  color: #009e66;
}

.banner h3 {
  color: rgb(255, 255, 255);
  font-size: 1.8em;
  font-weight: 500;
}

.btn {
  position: relative;
  background: #009e66;
  display: inline-block;
  color: black;
  padding: 10px 30px;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  background-blend-mode: black;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #009e66;
}

.heading p {
  font-style: italic;
  font-size: 14px;
}

.heading h2 {
  font-size: 3em;
  color: #009e66;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentBx {
  padding-left: 40px;
  text-align: justify;
}



.contentBx h2 {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.heading.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  flex-direction: row;
  align-items: center;
}



img {
  max-width: 100%;
  mix-blend-mode: hard-light;
}

.btn.round {
  border-radius: 50px;
  
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  transition: 0.5s;
  
}

header .logo {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}

header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style-type: none;
  justify-content: space-between;
  position: relative;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 500;
}

.pic {
  height: 75px;
  width: 50px;
  text-align: inherit;
}

header.sticky {
  background-color: white;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgb(0, 0, 0.1);
}

header.sticky .logo,
header.sticky ul li a {
  color: black;
}

.services
{
  background: #111;
}

.heading .white p{
  color: #fff;

}

.services .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.services .content .servicesBox{
  color: white;
  background: #161616;
  margin: 10px 15px;
  padding: 30px 15px;
  text-align: center;
}

.services .content .servicesBox:hover{
  border-bottom: 2px solid #009e66;
  cursor: pointer;
}

.services .content .servicesBox .fa{
  margin-bottom: 10px;
  color: #009e66;
}

.work .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  ;
  
}

.work .content div{
  
  max-width: 500px;
  padding: 5px;
}

.work .content div img{
  max-width: 100%;
  border: 1px solid rgb(0, 0, 0.4);
}
.work .content div a{
  border: rebeccapurple;
}

.work .content div img:hover{
  box-shadow:0 0 20px 5px #ccc;
  transform:scale(1.008);
  -webkit-transform:scale(1.008);
  -moz-transform:scale(1.008);
  -ms-transform:scale(1.008);
  -o-transform:scale(1.008);
  transition:0.5s;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
   
}

.work .content div a:link,
.work .content .workBx a:visited,
.work .content .workBx a:active{
    color:#161616;
    text-decoration: none;
    font-weight: 600;
}

.navbar {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  
  overflow-x: hidden;
  padding-top: 20px;
}

.navbar a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px;
  text-decoration: vertical;

}

.navbar a:hover {
  background-color: #ddd;
  color: black;
  
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}


@media (max-width: 992px) {
  #hero {
    text-align: center;
  }}
  .typed_wrap {
   
    color: #ffffff;
    
    
   
    
  }

  .typed_wrap span {
    justify-content: center;
    color: #8bdbbf;
  }
  .typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }
  .typed-cursor{
    opacity: 0;
   display: none;
 }
 @keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}













    

